@{
    ViewBag.Title = "Knockout DataTable";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/bootstrap/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="brand">
                @ViewBag.Title
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", false)

</body>
</html>

